.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  left: 0;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .firstCont {
      
    }
    .title {
      display: flex;
      flex-direction: column;
      line-height: 130px;
      letter-spacing: 10px;
      font-family: "CaviarDreams-Bold";
      font-size: 130px;
    }
    .secondCont {
      display: flex;

      .image {
        padding: 30px 30px 0 0;
        width: 50%;
        height: 50%;
      }

      .titleCont {
        display: flex;
        flex-direction: column;
        gap: 11.5em;
        .item {
          display: flex;
          align-self: flex-end;
          font-size: 32px;
        }
      }
    }
  }
}
