.wrapper {
  display: flex;
  height: 30vh;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
}

.name {
  flex: 1;
  display: flex;
}

.location {
  flex: 2;
}

.itemsCont {
  flex: 3;
  display: flex;
}
