body {
  margin: 0;
  font-family: CaviarDreams;
  src: local("CaviarDreams"),
    url("./assets/fonts/CaviarDreams.ttf") format("opentype");

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: CaviarDreams;
  font-style: normal;
  src: local("CaviarDreams"),
    url("./assets/fonts/CaviarDreams.ttf") format("opentype");
}

@font-face {
  font-family: CaviarDreams-Bold;
  src: local("CaviarDreams-Bold"),
    url("./assets/fonts/CaviarDreams_Bold.ttf") format("opentype");
}

@font-face {
  font-family: CaviarDreams-BoldItalic;
  src: local("CaviarDreams-BoldItalic"),
    url("./assets/fonts/CaviarDreams_BoldItalic.ttf") format("opentype");
}

@font-face {
  font-family: CaviarDreams-Italic;
  src: local("CaviarDreams-Italic"),
    url("./assets/fonts/CaviarDreams_Italic.ttf") format("opentype");
}

a {
  text-decoration: none;
  color: #6b705c;
  font-weight: bold;
}

div {
  background: #ffe8d6;
  color: #6b705c;
}
